<div class="container password-form">
  <div class="row">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Change password</h2>
        </div>

        <div class="panel-body">
          <form action="#" data-test-id="password-form">
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">Old password</label>
                {{input value=model.currentPassword
                    type="password"
                    class="form-control"
                    data-auto-id="current-password"}}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label">New password</label>
                {{input value=model.password
                    type="password"
                    class="form-control"
                    data-auto-id="new-password"}}
              </div>
              <div class="form-group col-sm-6">
                <label class="control-label">Confirm new password</label>
                {{input value=model.passwordConfirmation
                    type="password"
                    class="form-control"
                    data-auto-id="password-confirmation"}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="submit"
                    {{action "updatePassword"}}
                    class="btn btn-default"
                    data-auto-id="password-submit">
                  Update password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
