<div class="{{announcementClass}}"
     data-position="{{announcement.position}}"
     data-auto-id="announcement-editor">
  {{input value=announcement.url
          class="url"
          placeholder="Link to more information..."}}

  {{textarea placeholder="Enter announcement description..."
             class="description"
             value=announcement.description}}

  <div class="handle">
    <button {{action 'removeAnnouncement' announcement}}
            class="btn btn-danger remove-announcement">
      Remove
    </button>
  </div>

  {{yield}}
</div>
