<div class="{{announcementClass}}" data-position="{{announcement.position}}">
  {{input value=announcement.url
          class="url"
          placeholder="Link to more information..."}}

  {{textarea placeholder="Enter announcement description..."
             class="description"
             value=announcement.description}}

  <button {{action 'addAnnouncement'}} class="btn btn-default add-announcement">
    Add
  </button>

  <button {{action 'removeAnnouncement' announcement}}
          class="btn btn-danger remove-announcement">
    Remove
  </button>

  {{yield}}
</div>
