<div class="{{announcementClass}}"
  data-position="{{announcement.position}}"
  data-auto-id="announcement-editor">
  {{input value=announcement.url
    class="url"
    data-auto-id="url"
    placeholder="Link to more information..."}}

  {{textarea placeholder="Enter announcement description..."
    data-auto-id="description"
    class="description"
    value=announcement.description}}

  <div class="handle">
    <button {{action (action this.attrs.removeannouncement announcement)}}
      class="btn btn-danger remove-announcement"
      data-auto-id="remove">
      Remove
    </button>
  </div>
</div>

{{yield}}
