<div data-auto-id="bulletin-view">
  {{bulletin-navigator bulletin=bulletin}}

  <section class="cover">
    {{bulletin-cover bulletin=bulletin}}
  </section>
  <div class="contents">
    <div class="container">
      <div class="row">
        <section data-auto-id="service-order" class="col-md-12 col-lg-3 service-order">
          {{markdown-to-html bulletin.serviceOrder}}
        </section>
        <div class="col-md-12 col-lg-9 secondary-info">
          <section class="col-md-6 col-lg-7 announcements">
            <a name="announcements"></a>
            {{bulletin-announcements announcements=bulletin.sortedAnnouncements}}
          </section>
          <section class="col-md-6 col-lg-5 sermon-notes">
            <a name="sermon-notes"></a>
            {{sermon-notes notes=bulletin.sermonNotes}}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
