<div data-auto-id="bulletin-cover" class="tint-dark">
  <div class="inner">
    <h1 class="bulletin-info">
      <div data-auto-id="published-at" class="published-at">
        hi
        {{moment-format bulletin.publishedAt "MMMM Do YYYY, h:mm a"}}
      </div>
      <div data-auto-id="sermon-name" class="description">
        {{bulletin.sermonName}}
      </div>
      <div data-auto-id="name" class="name">
        {{#link-to "bulletin.index" bulletin.group.slug bulletin}}{{bulletin.name}}{{/link-to}}
      </div>
    </h1>
    {{#with bulletin.sermonAudioUrl as |url|}}
      <audio data-auto-id="audio" src="{{url}}" controls>
        Your browser does not support the <code>audio</code> element.
      </audio>
    {{/with}}
  </div>

  {{yield}}
</div>

{{#with bulletin.bannerUrl as |url|}}
  <style type="text/css">
  .bulletin-cover {
    background-image: url("{{cloudinary-fetch url=bulletin.bannerUrl width=768}}");
  }

  @media only screen and (min-width: 768px) {
    .bulletin-cover {
      background-image: url("{{cloudinary-fetch url=bulletin.bannerUrl width=1280}}");
    }
  }

  @media only screen and (min-width: 992px) {
    .bulletin-cover {
      background-image: url("{{cloudinary-fetch url=bulletin.bannerUrl width=1920}}");
    }
  }
  </style>
{{/with}}
