<form class="post-form" action="#">
  <div class="row">
    <section class="service-information col-md-6">
      <div class="row">
        <div class="form-group col-md-10">
          <label for="postTitle">Title</label>
          {{input value=post.title class="form-control post-title"}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-10">
          <label for="banner">Banner</label>
          <div class="form-control banner">
            {{s3-upload url="/api/v1/posts/sign" didUpload="didUploadBanner"}}
          </div>
          {{image-preview url=post.bannerUrl}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-10">
          <label for="tagList">Tags</label>
          {{input value=post.tagList class="form-control tags"}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="content">Content</label>
          {{markdown-textarea value=post.content
                              class="form-control content"
                              rows="10"}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-10" data-auto-id="kind">
          <label>Kind</label>
          {{#x-select value=post.kind class="form-control"}}
            {{#x-option value="post"}}Post{{/x-option}}
            {{#x-option value="page"}}Page{{/x-option}}
          {{/x-select}}
        </div>
      </div>
      <button type="submit" {{action 'save'}} class="btn btn-primary save">
        Save
      </button>
    </section>
  </div>
</form>

{{yield}}
