<h1>{{name}}</h1>

<ul>
  <li>{{publishedAt}}</li>
  <li>{{{serviceOrderHtml}}}</li>
</ul>

<ul>
  {{#each announcement in announcements}}
  <li>{{{announcement.descriptionHtml}}}</li>
  {{else}}
  <li>No announcements yet</li>
  {{/each}}
</ul>
