<div class="post-view">
  <article class="post post-{{model.id}}">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 post-container">
          <header>
            <h1 class="post-title">{{model.title}}</h1>
            {{#with model.bannerUrl as url}}
              <div class="banner"><img src="{{url}}" /></div>
            {{/with}}
            <div class="metadata">
              <span class="published-at">{{displayPublishedAt}}</span>
              <span class="pull-right group-name">{{model.group.name}}</span>
            </div>
          </header>
          <div class="content">
            {{{model.contentHtml}}}
          </div>
        </div>
      </div>
    </div>
  </article>

  {{outlet}}

  <footer class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="http://mcac.church">Montreal Chinese Alliance Church</a> |
        <a href="http://mcac.church">mcac.church</a>
        <br/>

        <a href="https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=13+Finchley+St,+Hampstead,+QC&aq=0&oq=13+finchley&sll=53.796105,-68.44248&sspn=35.749029,47.197266&vpsrc=0&ie=UTF8&hq=&hnear=13+Finchley+St,+Hampstead,+Quebec+H3X+2Z4&ll=45.479106,-73.631852&spn=0.010246,0.011523&t=m&z=16&iwloc=A">13 Finchley, Hampstead</a> |
        <a href="tel:5144822703">514.482.2703</a>
        <br/>

        <i class="icon icon-cma"></i>
      </div>
    </div>
  </footer>
</div>
