<article class="post-view post-{{model.id}}">
  <div class="container post-container">
    <header class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="post-title">{{model.title}}</h1>
        {{#with model.bannerUrl as url}}
          <div class="banner"><img src="{{url}}" /></div>
        {{/with}}
      </div>
    </header>

    <div class="row content">
      <div class="col-sm-8 col-sm-offset-2">
        {{{model.contentHtml}}}
      </div>
    </div>
  </div>
</article>

{{outlet}}
