<section class="service-information col-md-6">
  <h3>Service Information</h3>

  <div class="row">
    <div class="form-group col-md-10">
      <label for="bulletinName">Name</label>
      {{input id="bulletinName" value=model.name class="form-control bulletin-name"}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-10">
      <label for="publishedAt">Published at</label>
      {{bs-datetimepicker date=model.publishedAt class="published-at"}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-10">
      <label for="description">Description</label>
      {{input id="description" value=model.description class="form-control description"}}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-10">
      <label for="banner">Banner</label>
      <div class="form-control banner">
        {{s3-upload url="/api/v1/bulletins/sign" didUpload="didUpload"}}
      </div>
    </div>
  </div>
  {{#with model.bannerUrl as url}}
    <div class="row">
      <div class="col-md-10">
        <div class="banner-preview"
             style="background-image: url('{{model.bannerUrl}}')">

        </div>
      </div>
    </div>
  {{/with}}
  <div class="row">
    <div class="form-group col-md-12">
      <label for="serviceOrder">Order</label>
      {{markdown-textarea id="serviceOrder"
                          value=model.serviceOrder
                          class="form-control service-order"
                          rows="10"}}
    </div>
  </div>

  <button type="submit"
          {{action 'save'}}
          class="btn btn-primary save-bulletin">
    Save
  </button>
</section>
