<div class="new-bulletin">
  <form class="bulletin-form" action="#">
    <div class="form-group">
      <label for="bulletinName">Name</label>
      {{input id="bulletinName" value=name class="form-control"}}
    </div>
    <div class="form-group">
      <label for="publishedAt">Published at</label>
      {{bs-datetimepicker date=publishedAt}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{input id="description" value=description class="form-control"}}
    </div>
    <div class="form-group">
      <label for="serviceOrder">Order</label>
      {{markdown-textarea id="serviceOrder"
                          value=serviceOrder
                          class="form-control"
                          rows="10"}}
    </div>
    <div class="form-group">
    {{#link-to 'bulletins.new.announcements' class='btn btn-default'}}Add announcements{{/link-to}}
    </div>
    <button type="submit" {{action 'save'}} class="btn btn-primary">
      Save
    </button>
  </form>
</div>
{{outlet}}
