<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published At</th>
      <th>Actions</th>
    </tr>
  </thead>
  {{#each model as |post|}}
    <tbody>
      <tr class="post post-{{post.id}}">
        <td class="post-title">{{post.title}}</td>
        <td>{{post.publishedAt}}</td>
        <td>
          {{#if post.isPost}}
            {{#link-to "post.index" post class='btn btn-default show-post'}}
              Show
            {{/link-to}}
          {{/if}}

          {{#if post.isPage}}
            {{#link-to "page.index" post.slug class='btn btn-default show-post'}}
              Show
            {{/link-to}}
          {{/if}}

          {{#link-to 'post.edit' post class='btn btn-primary edit-post'}}
            Edit
          {{/link-to}}

          <button class="btn btn-danger remove-post"
                  {{action 'remove' post}}>Delete</button>
        </td>
      </tr>
    </tbody>
  {{/each}}
</table>

{{outlet}}
