<div class="container group-index">
  <div class="row">
    <header class="col-sm-12 group-banner"
            style="background-image: url('{{model.bannerUrl}}')"
            data-auto-id="group-banner">
    </header>
  </div>

  <div class="row group-details">
    <div class="col-xs-12 col-sm-2 col-sm-offset-1">
      <div class="profile-picture-wrapper">
        <div class="profile-picture"
           data-auto-id="group-profile-picture"
           style="background-image: url('{{model.profilePictureUrl}}')"></div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <h1 class="group-name" data-auto-id="group-name">
        {{#link-to "group.index" model.slug}}{{model.name}}{{/link-to}}
      </h1>

      <div class="short-description" data-auto-id="group-short-description">
        {{model.shortDescription}}
      </div>

      <div class="group-info">
        <span data-auto-id="group-target-audience">{{model.targetAudience}}</span>
        &middot;
        <span data-auto-id="group-meet-details">{{model.meetDetails}}</span>
      </div>
    </div>
  </div>

  {{#if posts.length}}
    <div class="row latest-news">
      <section class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"
        data-auto-id="group-posts">
        <h2>Latest news</h2>
        {{#each posts as |post|}}
          {{post-view post=post}}
        {{/each}}
      </section>
    </div>
  {{/if}}

  <div class="row about-group">
    <section class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      <h2>About {{model.name}}</h2>
      {{{model.aboutHtml}}}
    </section>
  </div>
</div>
