<div class="bulletin">
  <div class="cover">
    <div class="tint-dark">
      <section class="bulletin-cover">
        <h1 class="bulletin-info">
          <span class="name">{{model.name}}</span><br/>
          <small class="description">{{model.description}}</small>
        </h1>
        <footer>
          <a href="http://mcac.church">Montreal Chinese Alliance Church</a> |
          <a href="http://mcac.church">mcac.church</a> |
          <a href="https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=13+Finchley+St,+Hampstead,+QC&aq=0&oq=13+finchley&sll=53.796105,-68.44248&sspn=35.749029,47.197266&vpsrc=0&ie=UTF8&hq=&hnear=13+Finchley+St,+Hampstead,+Quebec+H3X+2Z4&ll=45.479106,-73.631852&spn=0.010246,0.011523&t=m&z=16&iwloc=A">13 Finchley, Hampstead</a> |
          <a href="tel:5144822703">514.482.2703</a>
        </footer>
      </section>
    </div>
  </div>

  <div class="bulletin-contents">
    <div class="inner">
      <div class="container">
        <div class="row">
          <section class="col-sm-6 col-md-3 service-order">
            {{{model.serviceOrderHtml}}}
          </section>
          <section class="col-sm-6 col-md-5 announcements">
            <h1>Announcements</h1>
            <ol>
              {{#each model.sortedAnnouncements as |announcement|}}
              <li>
                <div class="announcement">
                  {{{announcement.descriptionHtml}}}
                </div>
                {{#with announcement.url as url}}
                  <div>
                    <a class="external-link" href="{{url}}">See more</a>
                  </div>
                {{/with}}
              </li>
              {{else}}
              <li>No announcements yet</li>
              {{/each}}
            </ol>
          </section>
          <section class="col-sm-6 col-md-4 sermon-notes">
            <h1>Notes</h1>
            {{#if model.sermonNotes}}
              {{{model.sermonNotesHtml}}}
            {{else}}
              <div class="no-notes">No sermon notes available.</div>
            {{/if}}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{{#with model.bannerUrl as url}}
  <style type="text/css">
  .bulletin .cover {
    background-image: url("{{url}}");
  }
  </style>
{{/with}}
