<div class="container group-header">
  <div class="row">
    <header class="col-md-12 group-banner"
            style="background-image: url('{{cloudinary-fetch url=model.bannerUrl width=1920}}')"
            data-auto-id="group-banner">
    </header>
  </div>

  <div class="row group-details">
    <div class="col-xs-12 col-md-2 offset-lg-1">
      <div class="profile-picture-wrapper">
        <div class="profile-picture"
           data-auto-id="group-profile-picture"
           style="background-image: url('{{cloudinary-fetch url=model.profilePictureUrl width=200}}')"></div>
      </div>
    </div>

    <div class="col-xs-12 col-md-10 col-lg-8">
      <h1 class="group-name" data-auto-id="group-name">
        {{#link-to "group.index" model.slug}}{{model.name}}{{/link-to}}
      </h1>

      <div class="short-description" data-auto-id="group-short-description">
        {{model.shortDescription}}
      </div>

      <div class="group-info">
        <div class="target-audience" data-auto-id="group-target-audience">
          {{model.targetAudience}}
        </div>
        <div class="meet-details" data-auto-id="group-meet-details">
          {{model.meetDetails}}
        </div>
      </div>
    </div>
  </div>
</div>
{{liquid-outlet}}
